<div class="row mt-5 mb-5">
  <h4 class="mb-5">Twoje zamówienie zaraz do Nas trafi i będzie realizowane. </h4>
  <h5>Jeśli wybrałeś dostawę lawetą przygotuj wygenerowaną ilość pieniędzy, jeśli wybrałeś odbiór osobisty zapraszamy do salonu.</h5>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
  <button class="btn btn-outline-primary" cdkStepperPrevious>
    <i class="fa fa-angle-left"></i> Wróć do podglądu
  </button>
  <button class="btn btn-primary" (click)="submitOrder()">
    Potwierdź zamówienie <i class="fa fa-angle-right"></i>
  </button>
</div>
