<carousel>
  <slide>
    <img src="assets/images/audi.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/bmw2.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/merc4.png" alt="first slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Witaj! Jesteśmy Dealerem samochodów!</h1>
  </div>
</section>
